body{
    text-align: center;
    font-family: 'DynaPuff', cursive;
    background-image: url(pika.jpg);
    margin: 3%;
}
h1{
    color:#F65A83;
    font-size: 6rem;
}
h4{
    padding-bottom:4%;
    color:#2B7A0B;
    font-size: 2rem;
}
#input-name{
    padding-left:33% ;
}
.btn{
    text-align: center;
    padding: 1%;
    
}
.res{
    
    padding-right: 25%;
}
.answer{
    font-size: 3rem;;
    margin: 75px 230px 0 0;
    color:#F65A83;
    
}
#para{
    font-size: 1.5rem;
}