.body-light{
    text-align: center;
    font-family: 'DynaPuff', cursive;
    background-image: url(aaa.png);
    margin: 2%;
    transition: 0.3s ease-in-out;
    
}

h1{
    color:#F65A83;
    font-size: 6rem;
    
}

h4{
    padding-bottom:2%;
    color:#2B7A0B;
    font-size: 2rem;
}


#input-name{
    margin: 20px auto;
    display: inline-block;
}
.btn-s{
    text-align: center;
    
    border-radius: 10%;
}
.btn-s:hover{
    color:black;
}

.res{
    padding-right: 22%;
}
.answer{
    font-size: 3rem;;
    margin: 75px 230px 25px 0;
    color:#8E3200;
    padding-bottom: 2%;;
}

#para{
    font-size: 1.5rem;
}


@media (max-width: 960px) and (min-width:695px){
    .answer{
        font-size: 2rem;;
    margin: 75px 23px 0 0;
    color:#8E3200;
    text-align: center;
        padding: 4%;
    }

    h1{
        color:#F65A83;
        font-size: 4rem;
        padding: 1%;
    }
    h4{
        padding-bottom:2%;
        color:#2B7A0B;
        font-size: 1.5rem;
        padding: 2%;
    }
    #para{
        font-size: 1rem;
        padding: 2%;
    }
    #input-name{
        margin: 20px auto;
        display: inline-block;
        padding: 2%;
    }
    .btn-s{
        text-align: center;
        padding: 1%;
        border-radius: 10%;
    }
    .body-light{
        text-align: center;
        font-family: 'DynaPuff', cursive;
        background-image: url(aaa.png);
        background-size: 995px, 558px;
        margin: 2%;
        
    }
}

@media (max-width:695px){
    .answer{
     font-size: 1.5rem;;
    margin: 75px 23px 0 0;
    color:#8E3200;
    text-align: center;
    padding: 2%;
    }

    h1{
        color:#F65A83;
        font-size: 3rem;
        padding: 3%;
    }
    h4{
        padding-bottom:2%;
        color:#2B7A0B;
        font-size: 1rem;
        padding: 3%;
    }
    #para{
        font-size: 1rem;
        padding: 2%;
    }
    #input-name{
        margin: 20px auto;
        display: inline-block;
        padding: 2%;
    }
    .btn-s{
        text-align: center;
        padding: 1%;
        border-radius: 10%;
    }
    .body-light{
        text-align: center;
        font-family: 'DynaPuff', cursive;
        background-image: url(aaa.png);
        /*  background-image: radial-gradient(#00416A, #E4E5E6);*/
       
        background-repeat: no-repeat;
        margin: 2%;
        
    }
}